/* Write your CSS here! */
body {
    text-align: center;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: mediumturquoise;
    border-style: double;
  }

article.intro {
    background-color: tomato
}

head {
    text-align: center;
}

footer {
    color: navy;
    text-align: center;
}

h1 {
    padding: 40px;
}

article.intro {
    color: blueviolet;
}

p.funParagraph {
    color: green;
    background-color: cornsilk;
}

#mainHeading {
    text-align: center;
    color: red;
    font-size: 60px;
    border-style: double;
}

#foot {
    color: maroon;
    border-style: double;
}

#front {
    font-size: 30px;
}

#back {
    font-size: 30px;
}

#storyHeader {
    font-size: 30px;
    color: red;
}

#welcomeMsg {
    font-size: 30px;
    color: blueviolet
}
